/* GRID */

html,
body,
.wrapper {
  height: auto;
  width: 100vw;

  min-height: 100vh;
  max-width: 100vw;

  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper > main {
  grid-area: main;
}

/* ############# ELEMENTS ############# */

.wrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 1fr;
  grid-template-areas: "main";
}

.wrapper > main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrapper > main .box-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.wrapper > main .box-board .follower {
  height: 200px;
  width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  border-radius: 15px;
}

.wrapper > main .box-board .follower .follower-icon img {
  height: 64px;
}
