/* fonts  */

body {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 150%;
}

@media (width >=1024px) {
  body {
    font-size: 16px;
  }
}

h3 {
  font-size: 2.44rem;
  letter-spacing: -1.5%;
  line-height: 120%;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-wrap: balance;
}

h2 {
  font-size: 3.05rem;
  letter-spacing: -1.75%;
  line-height: 110%;
  font-weight: bold;
  margin: 1.5rem 0;
  text-wrap: balance;
}

h1 {
  font-size: 3.81rem;
  letter-spacing: -2%;
  line-height: 100%;
  font-weight: bold;
  margin: 0 0 1.5rem 0;
  text-wrap: balance;
}

:root {
  --background: #f4ce14;
  --headline: #000000;
  --text: #45474b;

  --border: #45474b;
  --box: #f5f7f8;

  --primary: #495e57;
}

html,
body {
  background-color: var(--background);
  color: var(--text);
}

.wrapper {
  background-color: var(--background);
  color: var(--text);
}

/* main */

.wrapper > main {
  background-color: var(--background);
  color: var(--text);
}

.wrapper > main .row .column h1,
.wrapper > main .row .column h2,
.wrapper > main .row .column h3 {
  color: var(--headline);
}

.wrapper > main .row .column .box-rss article {
  background-color: var(--box);
  color: var(--text);
  border: 1px solid var(--border);
}

.wrapper > main .row .column .box-rss article a {
  color: var(--primary);
}
