<aside>
    <div class="row">
        <div class="column">
            {% block search %}
                {% include 'modular/search.module.html.twig' %}
            {% endblock %}
        </div>
    </div>
</aside>