<footer>
    <div class="row">
        <div class="column">
            <div class="box-theme">
              <span class="footer-theme">Theme: grav v.1</span>
            </div>
        </div>
    </div>
</footer>