<header>
    <div class="row">
        <div class="column">
            <div class="box-logo">
                <img class="header-logo" id="header-logo" src="{{ url('theme://images/logo.svg')|e }}" alt="image loading" loading="lazy" />
            </div>
            <div class="box-title">
                <span class="header-title">{{ site.title }}</span>
            </div>
        </div>
    </div>
</header>