/* fonts  */

body {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 150%;
}

@media (width >=1024px) {
  body {
    font-size: 16px;
  }
}

h6 {
  font-size: 1.25rem;
  letter-spacing: -0.75%;
  line-height: 150%;
  font-weight: bold;
  margin: 1.25rem 0;
  text-wrap: balance;
}

h5 {
  font-size: 1.56rem;
  letter-spacing: -1%;
  line-height: 140%;
  font-weight: bold;
  margin: 1.25rem 0;
  text-wrap: balance;
}

h4 {
  font-size: 1.95rem;
  letter-spacing: -1.25%;
  line-height: 130%;
  font-weight: bold;
  margin: 1.25rem 0;
  text-wrap: balance;
}

h3 {
  font-size: 2.44rem;
  letter-spacing: -1.5%;
  line-height: 120%;
  font-weight: bold;
  margin: 1.5rem 0;
  text-wrap: balance;
}

h2 {
  font-size: 3.05rem;
  letter-spacing: -1.75%;
  line-height: 110%;
  font-weight: bold;
  margin: 1.5rem 0;
  text-wrap: balance;
}

h1 {
  font-size: 3.81rem;
  letter-spacing: -2%;
  line-height: 100%;
  font-weight: bold;
  margin: 0 0 1.5rem 0;
  text-wrap: balance;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fefefe;
    --headline: #121212;
    --text: #2c2c2c;

    --border: #cbcbcb;
    --box: #e5e5e5;

    --primary: #d41c1c;
    --secondary: #a71616;
    --tertiary: #7a1010;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --headline: #fefefe;
    --text: #e5e5e5;

    --border: #454545;
    --box: #2c2c2c;

    --primary: #d41c1c;
    --secondary: #a71616;
    --tertiary: #7a1010;
  }
}

/* mobile */

@media (0px <=width <=767px) {
  html,
  body {
    background-color: var(--box);
    color: var(--text);
  }

  .wrapper {
    background-color: var(--background);
    color: var(--text);
  }

  /* header */

  .wrapper > header {
    background-color: var(--background);
    color: var(--text);
    border-bottom: 1px solid var(--border);
  }

  .wrapper > header .row .column .box-hamburger .header-hamburger {
    color: var(--primary);
  }

  /* nav */

  .wrapper > nav {
    background-color: var(--background);
    color: var(--text);
  }

  .wrapper > nav .row .column .main-menu .menu-item {
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > nav .row .column .main-menu .menu-item a {
    border-bottom: 1px solid var(--border);
  }

  .wrapper > nav .row .column .main-menu .sub-menu .menu-item {
    background-color: var(--secondary);
    color: var(--background);
  }

  .wrapper > nav .row .column .main-menu .sub-menu .sub-menu .menu-item {
    background-color: var(--tertiary);
    color: var(--background);
  }

  /* main */

  .wrapper > main {
    background-color: var(--background);
    color: var(--text);
  }

  .wrapper > main .row .column h1,
  .wrapper > main .row .column h2,
  .wrapper > main .row .column h3,
  .wrapper > main .row .column h4,
  .wrapper > main .row .column h5,
  .wrapper > main .row .column h6 {
    color: var(--headline);
  }

  .wrapper > main .row .column a {
    color: var(--primary);
  }

  .wrapper > main .row .column blockquote {
    border-bottom: 1px solid var(--border);
    border-left: 5px solid var(--primary);
    border-right: 1px solid var(--border);
    border-top: 1px solid var(--border);
  }

  .wrapper > main .row .column code {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column details {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column details > :nth-child(2) {
    border-top: 1px solid var(--border);
  }

  .wrapper > main .row .column details summary {
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column figure audio {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column figure iframe {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column figure img {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column figure video {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column form fieldset {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form button {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="button"] {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="checkbox"] {
    border: 1px solid var(--border);
    background: var(--box);
  }

  .wrapper > main .row .column form input[type="checkbox"]:checked {
    background: var(--primary);
  }

  .wrapper > main .row .column form input[type="date"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="email"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="file"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="number"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="password"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="radio"] {
    border: 1px solid var(--border);
    background: var(--box);
  }

  .wrapper > main .row .column form input[type="radio"]:checked {
    background: var(--primary);
  }

  .wrapper > main .row .column form input[type="range"] {
    background-color: var(--box);
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="range"]::-moz-range-thumb {
    background-color: var(--text);
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="range"]::-webkit-slider-thumb {
    background-color: var(--text);
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="reset"] {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="search"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="submit"] {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="tel"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="text"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="url"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form meter {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form meter::-moz-meter-bar {
    background: var(--box);
  }

  .wrapper > main .row .column form meter::-webkit-meter-value {
    background: var(--box);
  }

  .wrapper > main .row .column form progress {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form progress::-moz-progress-bar {
    background: var(--box);
  }

  .wrapper > main .row .column form progress::-webkit-progress-value {
    background: var(--box);
  }

  .wrapper > main .row .column form select {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form textarea {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column hr {
    border-top: 1px dotted var(--border);
  }

  .wrapper > main .row .column table tbody tr {
    border-bottom: 1px solid var(--border);
  }

  .wrapper > main .row .column table tfoot tr th {
    border-top: 1px solid var(--border);
  }

  .wrapper > main .row .column table thead tr th {
    border-bottom: 1px solid var(--border);
  }

  /* aside */

  .wrapper > aside {
    background-color: var(--background);
    color: var(--text);
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
  }

  .wrapper > aside .row .column .box-map .aside-map {
    border: 1px solid var(--border);
  }

  /* footer */

  .wrapper > footer {
    background-color: var(--background);
    color: var(--text);
  }

  /* special */

  .body-scroller {
    background-color: var(--primary);
    color: var(--background);
  }
}

/* tablet */

@media (768px <=width <=1023px) {
  html,
  body {
    background-color: var(--box);
    color: var(--text);
  }

  .wrapper {
    background-color: var(--background);
    color: var(--text);
  }

  /* header */

  .wrapper > header {
    background-color: var(--background);
    color: var(--text);
    border-bottom: 1px solid var(--border);
  }

  .wrapper > header .row .column .box-hamburger .header-hamburger {
    color: var(--primary);
  }

  /* nav */

  .wrapper > nav {
    background-color: var(--background);
    color: var(--text);
  }

  .wrapper > nav .row .column .main-menu .menu-item {
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > nav .row .column .main-menu .menu-item a {
    border-bottom: 1px solid var(--border);
  }

  .wrapper > nav .row .column .main-menu .sub-menu .menu-item {
    background-color: var(--secondary);
    color: var(--background);
  }

  .wrapper > nav .row .column .main-menu .sub-menu .sub-menu .menu-item {
    background-color: var(--tertiary);
    color: var(--background);
  }

  /* main */

  .wrapper > main {
    background-color: var(--background);
    color: var(--text);
  }

  .wrapper > main .row .column h1,
  .wrapper > main .row .column h2,
  .wrapper > main .row .column h3,
  .wrapper > main .row .column h4,
  .wrapper > main .row .column h5,
  .wrapper > main .row .column h6 {
    color: var(--headline);
  }

  .wrapper > main .row .column a {
    color: var(--primary);
  }

  .wrapper > main .row .column blockquote {
    border-bottom: 1px solid var(--border);
    border-left: 5px solid var(--primary);
    border-right: 1px solid var(--border);
    border-top: 1px solid var(--border);
  }

  .wrapper > main .row .column code {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column details {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column details > :nth-child(2) {
    border-top: 1px solid var(--border);
  }

  .wrapper > main .row .column details summary {
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column figure audio {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column figure iframe {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column figure img {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column figure video {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column form fieldset {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form button {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="button"] {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="checkbox"] {
    border: 1px solid var(--border);
    background: var(--box);
  }

  .wrapper > main .row .column form input[type="checkbox"]:checked {
    background: var(--primary);
  }

  .wrapper > main .row .column form input[type="date"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="email"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="file"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="number"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="password"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="radio"] {
    border: 1px solid var(--border);
    background: var(--box);
  }

  .wrapper > main .row .column form input[type="radio"]:checked {
    background: var(--primary);
  }

  .wrapper > main .row .column form input[type="range"] {
    background-color: var(--box);
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="range"]::-moz-range-thumb {
    background-color: var(--text);
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="range"]::-webkit-slider-thumb {
    background-color: var(--text);
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="reset"] {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="search"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="submit"] {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="tel"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="text"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="url"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form meter {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form meter::-moz-meter-bar {
    background: var(--box);
  }

  .wrapper > main .row .column form meter::-webkit-meter-value {
    background: var(--box);
  }

  .wrapper > main .row .column form progress {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form progress::-moz-progress-bar {
    background: var(--box);
  }

  .wrapper > main .row .column form progress::-webkit-progress-value {
    background: var(--box);
  }

  .wrapper > main .row .column form select {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form textarea {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column hr {
    border-top: 1px dotted var(--border);
  }

  .wrapper > main .row .column table tbody tr {
    border-bottom: 1px solid var(--border);
  }

  .wrapper > main .row .column table tfoot tr th {
    border-top: 1px solid var(--border);
  }

  .wrapper > main .row .column table thead tr th {
    border-bottom: 1px solid var(--border);
  }

  /* aside */

  .wrapper > aside {
    background-color: var(--background);
    color: var(--text);
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
  }

  .wrapper > aside .row .column .box-map .aside-map {
    border: 1px solid var(--border);
  }

  /* footer */

  .wrapper > footer {
    background-color: var(--background);
    color: var(--text);
  }

  /* special */

  .body-scroller {
    background-color: var(--primary);
    color: var(--background);
  }
}

/* laptop */

@media (1024px <=width <=1279px) {
  html,
  body {
    background-color: var(--box);
    color: var(--text);
  }

  .wrapper {
    background-color: var(--background);
    color: var(--text);
  }

  /* header */

  .wrapper > header {
    background-color: var(--background);
    color: var(--text);
  }

  /* nav */

  .wrapper > nav {
    background-color: var(--background);
    color: var(--text);
  }

  .wrapper > nav .row .column .main-menu .menu-item a {
    border-bottom: 1px solid var(--border);
  }
  .wrapper > nav .row .column .main-menu .current-page-item > a {
    color: var(--primary);
  }

  /* main */

  .wrapper > main {
    background-color: var(--background);
    color: var(--text);
    border-left: 1px solid var(--border);
  }

  .wrapper > main .row .column h1,
  .wrapper > main .row .column h2,
  .wrapper > main .row .column h3,
  .wrapper > main .row .column h4,
  .wrapper > main .row .column h5,
  .wrapper > main .row .column h6 {
    color: var(--headline);
  }

  .wrapper > main .row .column a {
    color: var(--primary);
  }

  .wrapper > main .row .column blockquote {
    border-bottom: 1px solid var(--border);
    border-left: 5px solid var(--primary);
    border-right: 1px solid var(--border);
    border-top: 1px solid var(--border);
  }

  .wrapper > main .row .column code {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column details {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column details > :nth-child(2) {
    border-top: 1px solid var(--border);
  }

  .wrapper > main .row .column details summary {
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column figure audio {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column figure iframe {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column figure img {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column figure video {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column form fieldset {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form button {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="button"] {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="checkbox"] {
    border: 1px solid var(--border);
    background: var(--box);
  }

  .wrapper > main .row .column form input[type="checkbox"]:checked {
    background: var(--primary);
  }

  .wrapper > main .row .column form input[type="date"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="email"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="file"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="number"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="password"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="radio"] {
    border: 1px solid var(--border);
    background: var(--box);
  }

  .wrapper > main .row .column form input[type="radio"]:checked {
    background: var(--primary);
  }

  .wrapper > main .row .column form input[type="range"] {
    background-color: var(--box);
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="range"]::-moz-range-thumb {
    background-color: var(--text);
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="range"]::-webkit-slider-thumb {
    background-color: var(--text);
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="reset"] {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="search"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="submit"] {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="tel"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="text"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="url"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form meter {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form meter::-moz-meter-bar {
    background: var(--box);
  }

  .wrapper > main .row .column form meter::-webkit-meter-value {
    background: var(--box);
  }

  .wrapper > main .row .column form progress {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form progress::-moz-progress-bar {
    background: var(--box);
  }

  .wrapper > main .row .column form progress::-webkit-progress-value {
    background: var(--box);
  }

  .wrapper > main .row .column form select {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form textarea {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column hr {
    border-top: 1px dotted var(--border);
  }

  .wrapper > main .row .column table tbody tr {
    border-bottom: 1px solid var(--border);
  }

  .wrapper > main .row .column table tfoot tr th {
    border-top: 1px solid var(--border);
  }

  .wrapper > main .row .column table thead tr th {
    border-bottom: 1px solid var(--border);
  }

  /* aside */

  .wrapper > aside {
    background-color: var(--background);
    color: var(--text);
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-left: 1px solid var(--border);
  }

  .wrapper > aside .row .column .box-map .aside-map {
    border: 1px solid var(--border);
  }

  /* footer */

  .wrapper > footer {
    background-color: var(--background);
    color: var(--text);
    border-left: 1px solid var(--border);
  }

  /* special */

  .body-scroller {
    background-color: var(--primary);
    color: var(--background);
  }
}
/* desktop */

@media (width >=1280px) {
  html,
  body {
    background-color: var(--box);
    color: var(--text);
  }

  .wrapper {
    background-color: var(--background);
    color: var(--text);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
  }

  /* header */

  .wrapper > header {
    background-color: var(--background);
    color: var(--text);
    border-bottom: 1px solid var(--border);
  }

  .wrapper > header .row .column .box-hamburger .header-hamburger {
    color: var(--primary);
  }

  /* nav */

  .wrapper > nav {
    background-color: var(--background);
    color: var(--text);
    border-bottom: 1px solid var(--border);
  }

  .wrapper > nav .row .column .main-menu .menu-item {
    color: var(--primary);
  }

  .wrapper > nav .row .column .main-menu .sub-menu .menu-item {
    background-color: var(--secondary);
    color: var(--background);
  }

  .wrapper > nav .row .column .main-menu .sub-menu .menu-item a {
    border-bottom: 1px solid var(--border);
  }

  .wrapper > nav .row .column .main-menu .sub-menu .sub-menu .menu-item {
    background-color: var(--tertiary);
    color: var(--background);
  }

  /* main */

  .wrapper > main {
    background-color: var(--background);
    color: var(--text);
  }

  .wrapper > main .row .column h1,
  .wrapper > main .row .column h2,
  .wrapper > main .row .column h3,
  .wrapper > main .row .column h4,
  .wrapper > main .row .column h5,
  .wrapper > main .row .column h6 {
    color: var(--headline);
  }

  .wrapper > main .row .column a {
    color: var(--primary);
  }

  .wrapper > main .row .column blockquote {
    border-bottom: 1px solid var(--border);
    border-left: 5px solid var(--primary);
    border-right: 1px solid var(--border);
    border-top: 1px solid var(--border);
  }

  .wrapper > main .row .column code {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column details {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column details > :nth-child(2) {
    border-top: 1px solid var(--border);
  }

  .wrapper > main .row .column details summary {
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column figure audio {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column figure iframe {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column figure img {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column figure video {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column form fieldset {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form button {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="button"] {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="checkbox"] {
    border: 1px solid var(--border);
    background: var(--box);
  }

  .wrapper > main .row .column form input[type="checkbox"]:checked {
    background: var(--primary);
  }

  .wrapper > main .row .column form input[type="date"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="email"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="file"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="number"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="password"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="radio"] {
    border: 1px solid var(--border);
    background: var(--box);
  }

  .wrapper > main .row .column form input[type="radio"]:checked {
    background: var(--primary);
  }

  .wrapper > main .row .column form input[type="range"] {
    background-color: var(--box);
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="range"]::-moz-range-thumb {
    background-color: var(--text);
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="range"]::-webkit-slider-thumb {
    background-color: var(--text);
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="reset"] {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="search"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="submit"] {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="tel"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="text"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="url"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form meter {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form meter::-moz-meter-bar {
    background: var(--box);
  }

  .wrapper > main .row .column form meter::-webkit-meter-value {
    background: var(--box);
  }

  .wrapper > main .row .column form progress {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form progress::-moz-progress-bar {
    background: var(--box);
  }

  .wrapper > main .row .column form progress::-webkit-progress-value {
    background: var(--box);
  }

  .wrapper > main .row .column form select {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form textarea {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column hr {
    border-top: 1px dotted var(--border);
  }

  .wrapper > main .row .column table tbody tr {
    border-bottom: 1px solid var(--border);
  }

  .wrapper > main .row .column table tfoot tr th {
    border-top: 1px solid var(--border);
  }

  .wrapper > main .row .column table thead tr th {
    border-bottom: 1px solid var(--border);
  }

  /* aside */

  .wrapper > aside {
    background-color: var(--background);
    color: var(--text);
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
  }

  .wrapper > aside .row .column .box-map .aside-map {
    border: 1px solid var(--border);
  }

  /* footer */

  .wrapper > footer {
    background-color: var(--background);
    color: var(--text);
  }

  /* special */

  .body-scroller {
    background-color: var(--primary);
    color: var(--background);
  }
}
