<header>
  <div class="row">
    <div class="column">
      <div class="box-logo">
        <img class="header-logo" src="/images/logo.svg" alt="image loading" loading="lazy" />
      </div>
    </div>
  </div>
</header>
