      <footer>
        <div class="row">
          <div class="column">
            <div class="box-theme">
              <span class="footer-theme">Theme: nodejs v.2</span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>