<nav id="nav">
  <div class="row">
    <div class="column">
      <menu class="main-menu">
        <li class="menu-item"><a href="/">Home</a></li>
        <li class="menu-item"><a href="/404">404</a></li>
      </menu>
    </div>
  </div>
</nav>
