/* GRID */

html,
body,
.wrapper {
  height: auto;
  width: 100vw;

  min-height: 100vh;
  max-width: 100vw;

  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper > main {
  grid-area: main;
}

/* ############# ELEMENTS ############# */

.wrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 1fr;
  grid-template-areas: "main";
}

.wrapper > main {
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
}

.wrapper > main .row .column .box-rss {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.wrapper > main .row .column .box-rss article {
  padding: 1rem;
}
