/* fonts  */

body {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 150%;

  font-family: system-ui;
}

@media (width >=1280px) {
  body {
    font-size: 16px;
  }
}

main h6 {
  font-size: 1.25rem;
  letter-spacing: -0.75%;
  line-height: 150%;
  font-weight: bold;
  margin: 1.25rem 0;
  text-wrap: balance;
}

main h5 {
  font-size: 1.56rem;
  letter-spacing: -1%;
  line-height: 140%;
  font-weight: bold;
  margin: 1.25rem 0;
  text-wrap: balance;
}

main h4 {
  font-size: 1.95rem;
  letter-spacing: -1.25%;
  line-height: 130%;
  font-weight: bold;
  margin: 1.25rem 0;
  text-wrap: balance;
}

main h3 {
  font-size: 2.44rem;
  letter-spacing: -1.5%;
  line-height: 120%;
  font-weight: bold;
  margin: 1.5rem 0;
  text-wrap: balance;
}

main h2 {
  font-size: 3.05rem;
  letter-spacing: -1.75%;
  line-height: 110%;
  font-weight: bold;
  margin: 1.5rem 0;
  text-wrap: balance;
}

main h1 {
  font-size: 3.81rem;
  letter-spacing: -2%;
  line-height: 100%;
  font-weight: bold;
  margin: 0 0 1.5rem 0;
  text-wrap: balance;
  text-align: center;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

:root {
  --background: #1c1c1c;
  --headline: #eaeaea;
  --text: #d4d4d4;

  --border: #646464;
  --box: #474747;

  --primary: #ffa500;
}

/* ############# ELEMENTS ############# */

/* mobile */

@media (0 <= width <= 1279px) {
  html,
  body,
  .wrapper {
    background-color: var(--background);
    color: var(--headline);
  }

  /* header */

  .wrapper > header {
    border-bottom: 1px solid var(--border);
  }

  /* nav */

  .wrapper > nav {
    background-color: var(--box);
  }

  .wrapper > nav .row .column .main-menu .menu-item a {
    border-bottom: 1px solid var(--border);
  }

  .wrapper > nav .row .column .main-menu .menu-item.current-page-item {
    color: var(--primary);
  }

  /* main */

  .wrapper > main {
    color: var(--text);
  }

  .wrapper > main .row.hero {
    background-color: #1c1c1c;
    background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%23eaeaea' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
  }

  .wrapper > main .row.hero .column .box-hero .hero-title {
    font-size: 2.44rem;
    letter-spacing: -1.5%;
    line-height: 120%;
    font-weight: bold;
    text-wrap: balance;

    color: var(--primary);
  }

  .wrapper > main .row .column h1,
  .wrapper > main .row .column h2,
  .wrapper > main .row .column h3,
  .wrapper > main .row .column h4,
  .wrapper > main .row .column h5,
  .wrapper > main .row .column h6 {
    color: var(--headline);
  }

  .wrapper > main .row .column a {
    color: var(--primary);
  }

  .wrapper > main .row .column blockquote {
    border-bottom: 1px solid var(--border);
    border-left: 5px solid var(--primary);
    border-right: 1px solid var(--border);
    border-top: 1px solid var(--border);
  }

  .wrapper > main .row .column code {
    background-color: var(--box);
    color: var(--text);
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column details {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column details > :nth-child(2) {
    border-top: 1px solid var(--border);
  }

  .wrapper > main .row .column details summary {
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column figure audio {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column figure iframe {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column figure img {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column figure video {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column form fieldset {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form button {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="button"] {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="checkbox"] {
    border: 1px solid var(--border);
    background: var(--box);
  }

  .wrapper > main .row .column form input[type="checkbox"]:checked {
    background: var(--primary);
  }

  .wrapper > main .row .column form input[type="date"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="email"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="file"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="number"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="password"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="radio"] {
    border: 1px solid var(--border);
    background: var(--box);
  }

  .wrapper > main .row .column form input[type="radio"]:checked {
    background: var(--primary);
  }

  .wrapper > main .row .column form input[type="range"] {
    background-color: var(--box);
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="range"]::-moz-range-thumb {
    background-color: var(--text);
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="range"]::-webkit-slider-thumb {
    background-color: var(--text);
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="reset"] {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="search"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="submit"] {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="tel"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="text"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="url"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form meter {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form meter::-moz-meter-bar {
    background: var(--box);
  }

  .wrapper > main .row .column form meter::-webkit-meter-value {
    background: var(--box);
  }

  .wrapper > main .row .column form progress {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form progress::-moz-progress-bar {
    background: var(--box);
  }

  .wrapper > main .row .column form progress::-webkit-progress-value {
    background: var(--box);
  }

  .wrapper > main .row .column form select {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form textarea {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column hr {
    border-top: 1px dotted var(--border);
  }

  .wrapper > main .row .column table tbody tr {
    border-bottom: 1px solid var(--border);
  }

  .wrapper > main .row .column table tfoot tr th {
    border-top: 1px solid var(--border);
  }

  .wrapper > main .row .column table thead tr th {
    border-bottom: 1px solid var(--border);
  }

  .wrapper > main .row .column .search-result-title {
    font-size: x-large;
  }

  /* aside */

  .wrapper > aside {
    border-bottom: 1px solid var(--border);
  }

  .wrapper > aside .row .column .box-language .lang-menu li.active {
    color: var(--primary);
  }

  .wrapper > aside .row .column .box-search form {
    background-color: var(--box);
    border: 1px solid var(--border);
  }

  .wrapper > aside .row .column .box-search form button {
    background-color: var(--primary);
    color: var(--box);
  }

  /* footer */

  .wrapper > footer {
    border-top: 1px solid var(--border);
  }
}

/* non-mobile */

@media (width >=1280px) {
  html,
  body,
  .wrapper {
    background-color: var(--background);
    color: var(--headline);
  }

  /* nav */

  .wrapper > nav .row .column .main-menu .menu-item a:hover {
    color: var(--primary);
  }

  .wrapper > nav .row .column .main-menu .menu-item.current-page-item {
    color: var(--primary);
  }

  /* main */

  .wrapper > main {
    color: var(--text);
  }

  .wrapper > main .row.hero {
    background-color: #1c1c1c;
    background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%23eaeaea' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

    border: 1px solid var(--border);
  }

  .wrapper > main .row.hero .column .box-hero .hero-title {
    font-size: 2.44rem;
    letter-spacing: -1.5%;
    line-height: 120%;
    font-weight: bold;
    text-wrap: balance;

    color: var(--primary);
  }

  .wrapper > main .row .column h1,
  .wrapper > main .row .column h2,
  .wrapper > main .row .column h3,
  .wrapper > main .row .column h4,
  .wrapper > main .row .column h5,
  .wrapper > main .row .column h6 {
    color: var(--headline);
  }

  .wrapper > main .row .column a {
    color: var(--primary);
  }

  .wrapper > main .row .column blockquote {
    border-bottom: 1px solid var(--border);
    border-left: 5px solid var(--primary);
    border-right: 1px solid var(--border);
    border-top: 1px solid var(--border);
  }

  .wrapper > main .row .column code {
    background-color: var(--box);
    color: var(--text);
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column details {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column details > :nth-child(2) {
    border-top: 1px solid var(--border);
  }

  .wrapper > main .row .column details summary {
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column figure audio {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column figure iframe {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column figure img {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column figure video {
    border: 1px solid var(--border);
    background-color: var(--box);
  }

  .wrapper > main .row .column form fieldset {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form button {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="button"] {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="checkbox"] {
    border: 1px solid var(--border);
    background: var(--box);
  }

  .wrapper > main .row .column form input[type="checkbox"]:checked {
    background: var(--primary);
  }

  .wrapper > main .row .column form input[type="date"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="email"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="file"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="number"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="password"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="radio"] {
    border: 1px solid var(--border);
    background: var(--box);
  }

  .wrapper > main .row .column form input[type="radio"]:checked {
    background: var(--primary);
  }

  .wrapper > main .row .column form input[type="range"] {
    background-color: var(--box);
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="range"]::-moz-range-thumb {
    background-color: var(--text);
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="range"]::-webkit-slider-thumb {
    background-color: var(--text);
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="reset"] {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="search"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="submit"] {
    border: 1px solid var(--border);
    background-color: var(--primary);
    color: var(--background);
  }

  .wrapper > main .row .column form input[type="tel"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="text"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form input[type="url"] {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form meter {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form meter::-moz-meter-bar {
    background: var(--box);
  }

  .wrapper > main .row .column form meter::-webkit-meter-value {
    background: var(--box);
  }

  .wrapper > main .row .column form progress {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form progress::-moz-progress-bar {
    background: var(--box);
  }

  .wrapper > main .row .column form progress::-webkit-progress-value {
    background: var(--box);
  }

  .wrapper > main .row .column form select {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column form textarea {
    border: 1px solid var(--border);
  }

  .wrapper > main .row .column hr {
    border-top: 1px dotted var(--border);
  }

  .wrapper > main .row .column table tbody tr {
    border-bottom: 1px solid var(--border);
  }

  .wrapper > main .row .column table tfoot tr th {
    border-top: 1px solid var(--border);
  }

  .wrapper > main .row .column table thead tr th {
    border-bottom: 1px solid var(--border);
  }

  .wrapper > main .row .column .search-result-title {
    font-size: x-large;
  }

  /* aside */

  .wrapper > aside .row .column .box-language .lang-menu li.active {
    color: var(--primary);
  }

  .wrapper > aside .row .column .box-search form {
    background-color: var(--box);
    border: 1px solid var(--border);
  }

  .wrapper > aside .row .column .box-search form button {
    background-color: var(--primary);
    color: var(--box);
  }

  /* footer */

  .wrapper > footer {
    border-top: 1px solid var(--border);
  }
}
