services:
  node-exporter:
    image: "prom/node-exporter:latest"
    container_name: "node-exporter"
    hostname: "node-exporter"
    restart: "unless-stopped"
    ports:
      - "9300:9100"
    volumes:
      - "/proc:/host/proc:ro"
      - "/sys:/host/sys:ro"
      - "/:/rootfs:ro"
    command:
      - "--path.procfs=/host/proc"
      - "--path.rootfs=/rootfs"
      - "--path.sysfs=/host/sys"
      - "--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)"

  alertmanager:
    image: "prom/alertmanager:latest"
    container_name: "alertmanager"
    hostname: "alertmanager"
    restart: "unless-stopped"
    ports:
      - "9093:9093"
    volumes:
      - "./config/alertmanager.yml:/etc/alertmanager/config.yml"

  prometheus:
    image: "prom/prometheus:latest"
    container_name: "prometheus"
    hostname: "prometheus"
    restart: "unless-stopped"
    ports:
      - "9090:9090"
    volumes:
      - "./config/prometheus.yml:/etc/prometheus/prometheus.yml"
      - "./config/rules.yml:/etc/prometheus/rules.yml"
    environment:
      - "TZ=Europe/Berlin"
    depends_on:
      node-exporter:
        condition: service_started
      alertmanager:
        condition: service_started

  grafana:
    image: "grafana/grafana:latest-ubuntu"
    container_name: "grafana"
    hostname: "grafana"
    restart: "unless-stopped"
    ports:
      - "3000:3000"
    volumes:
      - "./data/grafana/provisioning:/etc/grafana/provisioning"
    environment:
      - "TZ=Europe/Berlin"
      - "GF_SECURITY_ADMIN_USER=admin"
      - "GF_SECURITY_ADMIN_PASSWORD=YOURPASSWORD"
    depends_on:
      node-exporter:
        condition: service_started
      alertmanager:
        condition: service_started
      prometheus:
        condition: service_started

networks:
  default:
    name: "prometheus_network"