<nav>
  <div class="row">
    <div class="column">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/404">404</a></li>
        <li><a href="/nowhere">NoLink</a></li>
      </ul>
    </div>
  </div>
</nav>
