/* GRID */

html,
body,
.wrapper {
  height: auto;
  width: 100vw;

  min-height: 100vh;
  max-width: 100vw;

  overflow-x: hidden;
  overflow-y: auto;
}

/* ############# ELEMENTS ############# */

/* mobile */

@media (0px <=width <=767px) {
  .wrapper > main .row .column .blog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 300px;
  }

  .wrapper > main .row .column .blog .frame > img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
  }
}
/* tablet */

@media (768px <=width <=1023px) {
  .wrapper > main .row .column .blog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 400px;
  }

  .wrapper > main .row .column .blog .frame > img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
  }
}

/* laptop */

@media (1024px <=width <=1279px) {
  .wrapper > main .row .column .blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
  }

  .wrapper > main .row .column .blog .frame:nth-of-type(1) {
    grid-row: 1/4;
    grid-column: 1/3;
  }

  .wrapper > main .row .column .blog .frame:nth-of-type(2) {
    grid-row: 4/6;
    grid-column: 1/2;
  }

  .wrapper > main .row .column .blog .frame:nth-of-type(3) {
    grid-row: 4/6;
    grid-column: 2/3;
  }

  .wrapper > main .row .column .blog .frame:nth-of-type(4) {
    grid-column: 1/3;
  }

  .wrapper > main .row .column .blog .frame:nth-of-type(5) {
    grid-column: 1/2;
  }

  .wrapper > main .row .column .blog .frame:nth-of-type(11) {
    grid-row: 10/12;
    grid-column: 1/3;
  }

  .wrapper > main .row .column .blog .frame:nth-of-type(12) {
    grid-column: 1/3;
  }

  .wrapper > main .row .column .blog .frame:nth-of-type(13) {
    grid-row: 13/15;
    grid-column: 1/3;
  }

  .wrapper > main .row .column .blog .frame > img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
  }
}

/* desktop */

@media (width >=1280px) {
  .wrapper > main .row .column .blog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 400px;
  }

  .wrapper > main .row .column .blog .frame:nth-of-type(1) {
    grid-column: 1/3;
    grid-row: 1/4;
  }

  .wrapper > main .row .column .blog .frame:nth-of-type(2) {
    grid-row: 1/3;
    grid-column: 3/4;
  }

  .wrapper > main .row .column .blog .frame:nth-of-type(3) {
    grid-row: 1/3;
    grid-column: 4/5;
  }

  .wrapper > main .row .column .blog .frame:nth-of-type(4) {
    grid-column: 3/5;
  }

  .wrapper > main .row .column .blog .frame:nth-of-type(5) {
    grid-column: 1/2;
  }

  .wrapper > main .row .column .blog .frame:nth-of-type(6) {
    grid-column: 2/3;
  }

  .wrapper > main .row .column .blog .frame:nth-of-type(7) {
    grid-column: 3/4;
  }

  .wrapper > main .row .column .blog .frame:nth-of-type(8) {
    grid-column: 4/5;
  }

  .wrapper > main .row .column .blog .frame:nth-of-type(9) {
    grid-column: 1/2;
  }

  .wrapper > main .row .column .blog .frame:nth-of-type(10) {
    grid-column: 2/3;
  }

  .wrapper > main .row .column .blog .frame:nth-of-type(11) {
    grid-column: 3/5;
    grid-row: 5/7;
  }

  .wrapper > main .row .column .blog .frame:nth-of-type(12) {
    grid-column: 1/3;
  }

  .wrapper > main .row .column .blog .frame:nth-of-type(13) {
    grid-column: 1/3;
    grid-row: 7/9;
  }

  .wrapper > main .row .column .blog .frame > img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
  }
}

/* ############# SPACING ############# */

/* mobile */

@media (0px <=width <=767px) {
  .wrapper > main .row .column .blog {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    padding: 1rem;
  }
}

/* tablet */

@media (768px <=width <=1023px) {
  .wrapper > main .row .column .blog {
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
    padding: 1.5rem;
  }
}

/* laptop */

@media (1024px <=width <=1279px) {
  .wrapper > main .row .column .blog {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding: 2rem;
  }
}

/* desktop */

@media (width >=1280px) {
  .wrapper > main .row .column .blog {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    padding: 2.5rem;
  }
}
