/* GRID */

html,
body,
.wrapper {
  height: auto;
  width: 100vw;

  min-height: 100vh;
  max-width: 100vw;

  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper > nav {
  grid-area: nav;
}

.wrapper > main {
  grid-area: main;
}

.wrapper > footer {
  grid-area: footer;
}

/* ############# ELEMENTS ############# */

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 2rem auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "nav"
    "main"
    "footer";
}

/* nav */

.wrapper > nav {
  padding-bottom: 1rem;
}

.wrapper > nav .row .column .main-menu {
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* main */

.wrapper > main {
  padding: 2rem 0;
}

/* footer */

.wrapper > footer {
  padding-top: 1rem;
  text-align: center;
}
