/* GRID */

html,
body,
.wrapper {
  height: auto;
  width: 100vw;

  min-height: 100vh;
  max-width: 100vw;

  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper > header {
  grid-area: header;
}

.wrapper > nav {
  grid-area: nav;
}

.wrapper > main {
  grid-area: main;
}

.wrapper > aside {
  grid-area: aside;
}

.wrapper > footer {
  grid-area: footer;
}

/* ############# ELEMENTS ############# */

/* mobile */

@media (0px <=width <=767px) {
  .wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "aside"
      "footer";
  }

  /* header */

  .wrapper > header .row {
    max-height: 768px;
    position: relative;
  }

  .wrapper > header .row .column .box-hamburger .header-hamburger {
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    z-index: 333;
  }

  /* nav */

  .wrapper > nav {
    display: none;
  }

  .wrapper > nav.open {
    display: block;
  }

  .wrapper > nav .row .column .main-menu .menu-item a {
    display: block;
    width: 100%;
  }

  .wrapper > nav .row .column .main-menu .current-page-item > a {
    font-weight: 700;
  }

  /* aside */

  .wrapper > aside .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .wrapper > aside .row .column {
    width: 100%;
  }

  .wrapper > aside .row .column .box-map .aside-map {
    height: auto;
    width: 100%;

    aspect-ratio: 16 / 9;
    object-fit: cover;
    vertical-align: middle;
    pointer-events: none;
  }

  /* special */

  .body-brown {
    display: none;
  }

  .body-cony {
    display: none;
  }

  .body-scroller {
    position: fixed;
    z-index: 333;
    cursor: pointer;
    font-size: 40px;
  }
}

/* tablet */

@media (768px <=width <=1023px) {
  .wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "aside"
      "footer";
  }

  /* header */

  .wrapper > header .row {
    max-height: 768px;
    position: relative;
  }

  .wrapper > header .row .column .box-hamburger .header-hamburger {
    cursor: pointer;
    font-size: 50px;
    position: absolute;
    z-index: 333;
  }

  /* nav */

  .wrapper > nav {
    display: none;
  }

  .wrapper > nav.open {
    display: block;
  }

  .wrapper > nav .row .column .main-menu .menu-item a {
    display: block;
    width: 100%;
  }

  .wrapper > nav .row .column .main-menu .current-page-item > a {
    font-weight: 700;
  }

  /* aside */

  .wrapper > aside .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .wrapper > aside .row .column {
    width: 100%;
  }

  .wrapper > aside .row .column .box-map .aside-map {
    height: auto;
    width: 100%;
    max-width: 573px;

    aspect-ratio: 16 / 9;
    object-fit: cover;
    vertical-align: middle;
    pointer-events: none;
  }

  /* special */

  .body-brown {
    display: none;
  }

  .body-cony {
    display: none;
  }

  .body-scroller {
    position: fixed;
    z-index: 333;
    cursor: pointer;
    font-size: 50px;
  }
}

/* laptop */

@media (1024px <=width <=1279px) {
  .wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "aside"
      "footer";
  }

  .wrapper > header .row,
  .wrapper > nav .row,
  .wrapper > main .row,
  .wrapper > aside .row,
  .wrapper > footer .row {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }

  /* header */

  .wrapper > header {
    background-image: url("../images/back.png");
    background-repeat: repeat-x;
  }

  .wrapper > header .row {
    max-height: 768px;
    position: relative;
  }

  .wrapper > header .row .column .box-hamburger .header-hamburger {
    display: none;
    pointer-events: none;
  }

  /* nav */

  .wrapper > nav .row {
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .wrapper > nav .row .column .main-menu {
    z-index: 111;
    position: relative;
  }

  .wrapper > nav .row .column .main-menu .menu-item {
    display: inline-block;
    float: none;
    white-space: nowrap;
  }

  .wrapper > nav .row .column .main-menu .menu-item a {
    display: block;
  }

  /* aside */

  .wrapper > aside .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .wrapper > aside .row .column {
    width: 100%;
  }

  .wrapper > aside .row .column .box-map .aside-map {
    height: auto;
    width: 100%;
    max-width: 573px;

    aspect-ratio: 16 / 9;
    object-fit: cover;
    vertical-align: middle;
    pointer-events: none;
  }

  /* special */

  .body-brown {
    display: none;
  }

  .body-cony {
    display: none;
  }

  .body-scroller {
    position: fixed;
    z-index: 333;
    cursor: pointer;
    font-size: 50px;
  }
}

/* desktop */

@media (width >=1280px) {
  .wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "aside"
      "footer";
  }

  .wrapper > header .row,
  .wrapper > nav .row,
  .wrapper > main .row,
  .wrapper > aside .row,
  .wrapper > footer .row {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }

  /* header */

  .wrapper > header {
    background-image: url("../images/back.png");
    background-repeat: repeat-x;
  }

  .wrapper > header .row {
    max-height: 768px;
    position: relative;
  }

  .wrapper > header .row .column .box-hamburger .header-hamburger {
    display: none;
    pointer-events: none;
  }

  /* nav */

  .wrapper > nav .row {
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .wrapper > nav .row .column .main-menu {
    z-index: 111;
    position: relative;
  }

  .wrapper > nav .row .column .main-menu .menu-item {
    display: inline-block;
    float: none;
    white-space: nowrap;
  }

  .wrapper > nav .row .column .main-menu .menu-item a {
    display: block;
  }

  /* aside */

  .wrapper > aside .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .wrapper > aside .row .column {
    width: 100%;
  }

  .wrapper > aside .row .column .box-map .aside-map {
    height: auto;
    width: 100%;
    max-width: 573px;

    aspect-ratio: 16 / 9;
    object-fit: cover;
    vertical-align: middle;
    pointer-events: none;
  }

  /* special */

  .body-brown {
    height: 50%;
    position: fixed;
    z-index: 333;
  }

  .body-cony {
    height: 40%;
    position: fixed;
    z-index: 333;
  }

  .body-scroller {
    position: fixed;
    z-index: 333;
    cursor: pointer;
    font-size: 50px;
  }
}

/* ############# SPACING ############# */

/* mobile */

@media (0px <=width <=767px) {
  /* header */

  .wrapper > header .row .column .box-hamburger .header-hamburger {
    padding: 0;
    top: 1rem;
    right: 1rem;
  }

  /* nav */

  .wrapper > nav .row .column .main-menu .menu-item a {
    padding: 0.5rem 1rem;
  }

  /* main */

  .wrapper > main {
    padding: 2rem 1rem;
  }

  /* aside */

  .wrapper > aside {
    padding: 1rem 1rem;
  }

  .wrapper > aside .row {
    gap: 1rem;
  }

  /* footer */

  .wrapper > footer {
    padding: 1rem 1rem;
  }

  /* special */

  .body-scroller {
    bottom: 1rem;
    right: 1rem;
  }
}

/* tablet */

@media (768px <=width <=1023px) {
  /* header */

  .wrapper > header .row .column .box-hamburger .header-hamburger {
    padding: 0;
    top: 1rem;
    right: 2rem;
  }

  /* nav */

  .wrapper > nav .row .column .main-menu .menu-item a {
    padding: 0.5rem 2rem;
  }

  /* main */

  .wrapper > main {
    padding: 2rem 2rem;
  }

  /* aside */

  .wrapper > aside {
    padding: 1rem 2rem;
  }

  .wrapper > aside .row {
    gap: 1rem;
  }

  /* footer */

  .wrapper > footer {
    padding: 1rem 2rem;
  }

  /* special */

  .body-scroller {
    bottom: 1rem;
    right: 2rem;
  }
}

/* laptop */

@media (1024px <=width <=1279px) {
  /* nav */

  .wrapper > nav {
    padding: 1rem 2rem;
  }

  .wrapper > nav .row .column .main-menu .menu-item a {
    padding: 0.5rem 0.5rem;
  }

  .wrapper > nav .row .column .main-menu > .menu-item:last-of-type a {
    padding: 0.5rem 0 0.5rem 0.5rem;
  }

  /* main */

  .wrapper > main {
    padding: 2rem 2rem;
  }

  /* aside */

  .wrapper > aside {
    padding: 1rem 2rem;
  }

  .wrapper > aside .row {
    gap: 2rem;
  }

  /* footer */

  .wrapper > footer {
    padding: 1rem 2rem;
  }

  /* special */

  .body-scroller {
    bottom: 1rem;
    right: 2rem;
  }
}

/* desktop */

@media (width >=1280px) {
  /* nav */

  .wrapper > nav {
    padding: 2rem 2rem;
  }

  .wrapper > nav .row .column .main-menu .menu-item a {
    padding: 0.5rem 0.5rem;
  }

  .wrapper > nav .row .column .main-menu > .menu-item:last-of-type a {
    padding: 0.5rem 0 0.5rem 0.5rem;
  }

  /* main */

  .wrapper > main {
    padding: 4rem 2rem;
  }

  /* aside */

  .wrapper > aside {
    padding: 2rem 2rem;
  }

  .wrapper > aside .row {
    gap: 2rem;
  }

  /* footer */

  .wrapper > footer {
    padding: 2rem 2rem;
  }

  /* special */

  .body-brown {
    top: 40%;
    left: 0;
  }

  .body-cony {
    top: 30%;
    right: 0;
  }

  .body-scroller {
    bottom: 2rem;
    right: 2rem;
  }
}
