/* GRID */

html,
body,
.wrapper {
  height: auto;
  width: 100vw;

  min-height: 100vh;
  max-width: 100vw;

  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper > main {
  grid-area: main;
}

/* ############# ELEMENTS ############# */

.wrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 1fr;
  grid-template-areas: "main";
}

.wrapper > main {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
}

.wrapper > main .row .column .box-dir {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
}

.wrapper > main .row .column .box-dir li {
  display: block;
  width: 100%;
}

.wrapper > main .row .column .box-dir li a {
  width: 100%;
  text-decoration: none;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 1rem;
}

.wrapper > main .row .column .box-dir li a:hover {
  opacity: 0.65;
}

.wrapper > main .row .column .box-dir li a img {
  height: 2rem;
  width: auto;
}
