/* GRID */

html,
body,
.wrapper {
  height: auto;
  width: 100vw;

  min-height: 100vh;
  max-width: 100vw;

  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper > header {
  grid-area: header;
}

.wrapper > nav {
  grid-area: nav;
}

.wrapper > main {
  grid-area: main;
}

.wrapper > aside {
  grid-area: aside;
}

.wrapper > footer {
  grid-area: footer;
}

/* ############# ELEMENTS ############# */

/* mobile */

@media (0 <= width <= 1279px) {
  .wrapper {
    width: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas:
      "header"
      "nav"
      "aside"
      "main"
      "footer";
  }

  /* header */

  .wrapper > header .row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .wrapper > header .row .column {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .wrapper > header .row .column .box-logo .header-logo {
    height: 40px;
    width: auto;
  }

  .wrapper > header .row .column .box-title .header-title {
    display: block;
  }

  .wrapper > header .row .column .box-title .header-subtitle {
    display: none;
  }

  /* nav */

  .wrapper > nav .row .column .main-menu .menu-item a {
    display: block;
    width: 100%;
  }

  /* main */

  .wrapper > main .row .column .box-hero {
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  /* aside */

  .wrapper > aside .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .wrapper > aside .row .column {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .wrapper > aside .row .column:last-of-type {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  /* footer */

  .wrapper > footer .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .wrapper > footer .row .column {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

/* non-mobile */

@media (width >=1280px) {
  .wrapper {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "header nav"
      "aside aside"
      "main main"
      "footer footer";
  }

  /* header */

  .wrapper > header .row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .wrapper > header .row .column {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .wrapper > header .row .column .box-logo .header-logo {
    height: 40px;
    width: auto;
  }

  .wrapper > header .row .column .box-title .header-title {
    display: block;
  }

  .wrapper > header .row .column .box-title .header-subtitle {
    display: block;
  }

  /* nav */

  .wrapper > nav .row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .wrapper > nav .row .column {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .wrapper > nav .row .column .main-menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .wrapper > nav .row .column .main-menu .menu-item a {
    display: block;
  }

  /* main */

  .wrapper > main .row .column .box-hero {
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  /* aside */

  .wrapper > aside .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .wrapper > aside .row .column {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .wrapper > aside .row .column:last-of-type {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  /* footer */

  .wrapper > footer .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .wrapper > footer .row .column {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

/* ############# SPACING ############# */

/* mobile */

@media (0 <= width <= 1279px) {
  /* header */

  .wrapper > header .row {
    padding: 1rem 1rem;
    gap: 1rem;
  }

  .wrapper > header .row .column {
    gap: 1rem;
  }

  /* nav */

  .wrapper > nav .row .column .main-menu .menu-item a {
    padding: 0.5rem 1rem;
  }

  .wrapper > nav .row .column .main-menu .menu-item.current_page_item {
    font-weight: bold;
  }

  /* main */

  .wrapper > main .row {
    padding: 2rem 1rem;
  }

  .wrapper > main .row.hero {
    padding: 0 0;
    margin-top: 1rem;
  }

  /* aside */

  .wrapper > aside .row {
    padding: 1rem 1rem;
  }

  .wrapper > aside .row .column {
    gap: 1rem;
  }

  .wrapper > aside .row .column .box-search form input {
    padding: 0.5rem;
  }

  .wrapper > aside .row .column .box-search form button {
    padding: 0.5rem;
    cursor: pointer;
  }

  /* footer */

  .wrapper > footer .row {
    padding: 1rem 1rem;
    gap: 1rem;
  }

  .wrapper > footer .row .column {
    gap: 1rem;
  }
}

/* non-mobile */

@media (width >=1280px) {
  /* header */

  .wrapper > header .row {
    padding: 1rem 0.5rem 1rem 1rem;
    gap: 1rem;
  }

  .wrapper > header .row .column {
    gap: 1rem;
  }

  /* nav */

  .wrapper > nav .row {
    padding: 1rem 1rem 1rem 0.5rem;
  }

  .wrapper > nav .row .column .main-menu .menu-item a {
    padding: 1rem 1rem;
  }

  .wrapper > nav .row .column .main-menu .menu-item:last-of-type a {
    padding: 1rem 0 1rem 1rem;
  }

  .wrapper > nav .row .column .main-menu .menu-item.current_page_item {
    font-weight: bold;
  }

  /* main */

  .wrapper > main .row {
    padding: 2rem 1rem;
  }

  .wrapper > main .row.hero {
    padding: 0 0;
    margin-top: 1rem;
  }

  /* aside */

  .wrapper > aside .row {
    padding: 1rem 1rem;
  }

  .wrapper > aside .row .column {
    gap: 1rem;
  }

  .wrapper > aside .row .column .box-search form input {
    padding: 0.5rem;
  }

  .wrapper > aside .row .column .box-search form button {
    padding: 0.5rem;
    cursor: pointer;
  }

  /* footer */

  .wrapper > footer .row {
    padding: 1rem 1rem;
    gap: 1rem;
  }

  .wrapper > footer .row .column {
    gap: 1rem;
  }
}

/* ############# BLOG ############# */

/* mobile */

@media (0 <= width <= 1279px) {
  .wrapper > main .row .column .box-blog {
    columns: 320px;
    gap: 1rem;
  }

  .wrapper > main .row .column .box-blog .blog-post-item {
    width: 320px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    margin-bottom: 1rem;

    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .wrapper > main .row .column .box-blog .blog-post-item .post-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapper > main .row .column .box-blog .blog-post-item .post-content {
    width: 100%;
    padding: 1rem;
  }

  .wrapper > main .row .column .box-blog-pagination {
    width: 100%;
    margin-top: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .wrapper > main .row .column .box-blog-pagination a,
  .wrapper > main .row .column .box-blog-pagination span {
    display: block;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
  }

  .wrapper > main .row .column .blog-article {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
  }
}

/* non-mobile */

@media (width >=1280px) {
  .wrapper > main .row .column .box-blog {
    columns: 320px;
    gap: 1rem;
  }

  .wrapper > main .row .column .box-blog .blog-post-item {
    width: 320px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    margin-bottom: 1rem;

    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .wrapper > main .row .column .box-blog .blog-post-item .post-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapper > main .row .column .box-blog .blog-post-item .post-content {
    width: 100%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .wrapper > main .row .column .box-blog-pagination {
    width: 100%;
    margin-top: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .wrapper > main .row .column .box-blog-pagination a,
  .wrapper > main .row .column .box-blog-pagination span {
    display: block;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
  }

  .wrapper > main .row .column .blog-article {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 1rem;
  }
}
