/* GRID */

html,
body,
.wrapper {
  height: auto;
  width: 100vw;

  min-height: 100vh;
  max-width: 100vw;

  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper > main {
  grid-area: main;
}

/* ############# ELEMENTS ############# */

.wrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 1fr;
  grid-template-areas: "main";
}

.wrapper > main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* mobile */

@media (0px <=width <=767px) {
  /* flex-gallery */

  .wrapper > main .row .column .flex-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .wrapper > main .row .column .flex-gallery .item {
    flex: auto;
  }

  .wrapper > main .row .column .flex-gallery .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapper > main .row .column .flex-gallery .item:hover > img {
    cursor: pointer;
  }

  /* grid-gallery */

  .wrapper > main .row .column .grid-gallery {
    columns: 1;
  }

  .wrapper > main .row .column .grid-gallery .item {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .wrapper > main .row .column .grid-gallery .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapper > main .row .column .grid-gallery .item:hover > img {
    cursor: pointer;
  }

  /* masonry-gallery */

  .wrapper > main .row .column .masonry-gallery {
    columns: 320px;
  }

  .wrapper > main .row .column .masonry-gallery .item {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .wrapper > main .row .column .masonry-gallery .item:hover > img {
    cursor: pointer;
  }
}

/* tablet */

@media (768px <=width <=1023px) {
  /* flex-gallery */

  .wrapper > main .row .column .flex-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .wrapper > main .row .column .flex-gallery .item {
    flex: auto;
    height: 320px;
    min-width: 180px;
  }

  .wrapper > main .row .column .flex-gallery .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapper > main .row .column .flex-gallery .item:hover > img {
    cursor: pointer;
  }

  /* grid-gallery */

  .wrapper > main .row .column .grid-gallery {
    columns: 2;
  }

  .wrapper > main .row .column .grid-gallery .item {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .wrapper > main .row .column .grid-gallery .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapper > main .row .column .grid-gallery .item:hover > img {
    cursor: pointer;
  }

  /* masonry-gallery */

  .wrapper > main .row .column .masonry-gallery {
    columns: 320px;
  }

  .wrapper > main .row .column .masonry-gallery .item {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .wrapper > main .row .column .masonry-gallery .item:hover > img {
    cursor: pointer;
  }
}

/* laptop */

@media (1024px <=width <=1279px) {
  /* flex-gallery */

  .wrapper > main .row .column .flex-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .wrapper > main .row .column .flex-gallery .item {
    flex: auto;
    height: 320px;
    min-width: 180px;
  }

  .wrapper > main .row .column .flex-gallery .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapper > main .row .column .flex-gallery .item:hover > img {
    cursor: pointer;
  }

  /* grid-gallery */

  .wrapper > main .row .column .grid-gallery {
    columns: 3;
  }

  .wrapper > main .row .column .grid-gallery .item {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .wrapper > main .row .column .grid-gallery .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapper > main .row .column .grid-gallery .item:hover > img {
    cursor: pointer;
  }

  /* masonry-gallery */

  .wrapper > main .row .column .masonry-gallery {
    columns: 320px;
  }

  .wrapper > main .row .column .masonry-gallery .item {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .wrapper > main .row .column .masonry-gallery .item:hover > img {
    cursor: pointer;
  }
}

/* desktop */

@media (width >=1280px) {
  /* flex-gallery */

  .wrapper > main .row .column .flex-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .wrapper > main .row .column .flex-gallery .item {
    flex: auto;
    height: 320px;
    min-width: 180px;
  }

  .wrapper > main .row .column .flex-gallery .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapper > main .row .column .flex-gallery .item:hover > img {
    cursor: pointer;
  }

  /* grid-gallery */

  .wrapper > main .row .column .grid-gallery {
    columns: 4;
  }

  .wrapper > main .row .column .grid-gallery .item {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .wrapper > main .row .column .grid-gallery .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapper > main .row .column .grid-gallery .item:hover > img {
    cursor: pointer;
  }

  /* masonry-gallery */

  .wrapper > main .row .column .masonry-gallery {
    columns: 320px;
  }

  .wrapper > main .row .column .masonry-gallery .item {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .wrapper > main .row .column .masonry-gallery .item:hover > img {
    cursor: pointer;
  }
}

/* ############# SPACING ############# */

/* mobile */

@media (0px <=width <=767px) {
  .wrapper > main .row .column .flex-gallery {
    gap: 1rem;
  }

  .wrapper > main .row .column .grid-gallery {
    column-gap: 1rem;
  }

  .wrapper > main .row .column .grid-gallery .item {
    margin-bottom: 1rem;
  }

  .wrapper > main .row .column .masonry-gallery {
    gap: 1rem;
  }

  .wrapper > main .row .column .masonry-gallery .item {
    margin-bottom: 1rem;
  }
}

/* tablet */

@media (768px <=width <=1023px) {
  .wrapper > main .row .column .flex-gallery {
    gap: 1.25rem;
  }

  .wrapper > main .row .column .grid-gallery {
    column-gap: 1.25rem;
  }

  .wrapper > main .row .column .grid-gallery .item {
    margin-bottom: 1.25rem;
  }

  .wrapper > main .row .column .masonry-gallery {
    gap: 1.25rem;
  }

  .wrapper > main .row .column .masonry-gallery .item {
    margin-bottom: 1.25rem;
  }
}

/* laptop */

@media (1024px <=width <=1279px) {
  .wrapper > main .row .column .flex-gallery {
    gap: 1.5rem;
  }

  .wrapper > main .row .column .grid-gallery {
    column-gap: 1.5rem;
  }

  .wrapper > main .row .column .grid-gallery .item {
    margin-bottom: 1.5rem;
  }

  .wrapper > main .row .column .masonry-gallery {
    gap: 1.5rem;
  }

  .wrapper > main .row .column .masonry-gallery .item {
    margin-bottom: 1.5rem;
  }
}

/* desktop */

@media (width >=1280px) {
  .wrapper > main .row .column .flex-gallery {
    gap: 1.75rem;
  }

  .wrapper > main .row .column .grid-gallery {
    column-gap: 1.75rem;
  }

  .wrapper > main .row .column .grid-gallery .item {
    margin-bottom: 1.75rem;
  }

  .wrapper > main .row .column .masonry-gallery {
    gap: 1.75rem;
  }

  .wrapper > main .row .column .masonry-gallery .item {
    margin-bottom: 1.75rem;
  }
}
