/* GRID */

html,
body,
.wrapper {
  height: auto;
  width: 100vw;

  min-height: 100vh;
  max-width: 100vw;

  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper > header {
  grid-area: header;
}

.wrapper > nav {
  grid-area: nav;
}

.wrapper > main {
  grid-area: main;
}

.wrapper > aside {
  grid-area: aside;
}

.wrapper > footer {
  grid-area: footer;
}

/* ############# ELEMENTS ############# */

.wrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto auto 1fr auto auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
}

@media (width >=1280px) {
  .wrapper {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
      "nav"
      "header"
      "main"
      "aside"
      "footer";
  }

  .wrapper > * .row {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* header */

.wrapper > header .row:nth-of-type(1) {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.wrapper > header .row:nth-of-type(1) .column {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.wrapper > header .row:nth-of-type(2) {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.wrapper > header .row:nth-of-type(2) .column {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

@media (width >=1280px) {
  .wrapper > header .row:nth-of-type(2) {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .wrapper > header .row:nth-of-type(2) .column:nth-of-type(1) {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .wrapper > header .row:nth-of-type(2) .column:nth-of-type(2) {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

.wrapper > header .row .column .box-logo .header-logo {
  height: 40px;
  width: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper > header .row .column .box-title .header-title {
  display: block;
}

.wrapper > header .row .column .box-title .header-subtitle {
  display: none;
}

@media (width >=1280px) {
  .wrapper > header .row .column .box-title .header-subtitle {
    display: block;
  }
}

.wrapper > header .row .column .box-search form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.wrapper > header .row .column .box-search form button {
  cursor: pointer;
}

/* nav */

.wrapper > nav .row .column .main-menu .menu .menu-item a {
  display: block;
  width: 100%;
}

@media (width >=1280px) {
  .wrapper > nav .row .column .main-menu .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
  }

  .wrapper > nav .row .column .main-menu .menu-item a {
    display: block;
    width: max-content;
  }
}

/* main */

.wrapper > main .row {
  height: 100%;
}

.wrapper > main .row .column .box-posts {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

@media (width >=1280px) {
  .wrapper > main .row .column .box-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

.wrapper > main .row .column .box-posts .box-post-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
}

.wrapper > main .row .column .box-posts .box-post-item .item-left img {
  width: 150px;
  height: 100%;
  object-fit: cover;
}

/* aside */

.wrapper > aside .row {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

@media (width >=1280px) {
  .wrapper > aside .row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

/* footer */

.wrapper > footer .row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media (width >=1280px) {
  .wrapper > footer .row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

/* ############# SPACING ############# */

/* header */

.wrapper > header .row {
  padding: 1rem 1rem;
  gap: 1rem;
}

.wrapper > header .row .column {
  gap: 1rem;
}

.wrapper > header .row .column .box-search form {
  gap: 1rem;
}

/* nav */

.wrapper > nav .row .column .main-menu .menu .menu-item a {
  padding: 0.5rem 1rem;
}

@media (width >=1280px) {
  /* nav */

  .wrapper > nav .row .column .main-menu .menu .menu-item a {
    padding: 1rem 1rem;
  }

  .wrapper > nav .row .column .main-menu .menu .menu-item:last-of-type a {
    padding: 1rem 0 1rem 1rem;
  }
}

/* main */

.wrapper > main .row {
  padding: 2rem 1rem;
}

.wrapper > main .row .column .box-posts {
  gap: 1rem;
}

.wrapper > main .row .column .box-posts .box-post-item .item-right {
  padding: 1rem;
}

/* aside */

.wrapper > aside .row {
  padding: 1rem 1rem;
  gap: 1rem;
}

/* footer */

.wrapper > footer .row {
  padding: 1rem 1rem;
  gap: 1rem;
}
