/* fonts  */

body {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 150%;

  font-family: system-ui;
}

@media (width >=1280px) {
  body {
    font-size: 16px;
  }
}

aside h6 {
  font-size: 1.25rem;
  letter-spacing: -0.75%;
  line-height: 150%;
  font-weight: bold;
  margin-bottom: 1.25rem;
  text-wrap: balance;
}

main h6 {
  font-size: 1.25rem;
  letter-spacing: -0.75%;
  line-height: 150%;
  font-weight: bold;
  margin: 1.25rem 0;
  text-wrap: balance;
}

main h5 {
  font-size: 1.56rem;
  letter-spacing: -1%;
  line-height: 140%;
  font-weight: bold;
  margin: 1.25rem 0;
  text-wrap: balance;
}

main h4 {
  font-size: 1.95rem;
  letter-spacing: -1.25%;
  line-height: 130%;
  font-weight: bold;
  margin: 1.25rem 0;
  text-wrap: balance;
}

main h3 {
  font-size: 2.44rem;
  letter-spacing: -1.5%;
  line-height: 120%;
  font-weight: bold;
  margin: 1.5rem 0;
  text-wrap: balance;
}

main h2 {
  font-size: 3.05rem;
  letter-spacing: -1.75%;
  line-height: 110%;
  font-weight: bold;
  margin: 1.5rem 0;
  text-wrap: balance;
}

main h1 {
  font-size: 3.81rem;
  letter-spacing: -2%;
  line-height: 100%;
  font-weight: bold;
  margin: 0 0 1.5rem 0;
  text-wrap: balance;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

:root {
  --background: #f6f7f7;
  --headline: #1d2327;
  --text: #2c3338;

  --border: #c0c7c7;
  --box: #dbdfdf;

  --primary: #2271b1;
  --secondary: #72aee6;
  --tertiary: #daebf8;
}

body {
  background-color: #f6f7f7;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2372aee6' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  color: var(--text);
}

/* mobile */

@media (0px <=width <=1279px) {
  /* header */

  .wrapper > header {
    background-color: var(--background);
    color: var(--text);
  }

  .wrapper > header .row {
    border-bottom: 1px solid var(--border);
  }

  .wrapper > header .row .column .box-search form {
    background-color: var(--background);
    border: 1px solid var(--border);
  }

  .wrapper > header .row .column .box-search form input {
    padding: 0.5rem;
  }

  .wrapper > header .row .column .box-search form button {
    background-color: var(--text);
    color: var(--background);
    padding: 0.5rem;
  }

  /* nav */

  .wrapper > nav {
    background-color: var(--box);
    color: var(--text);
  }

  .wrapper > nav .row .column .main-menu .menu-item a {
    border-bottom: 1px solid var(--border);
  }

  /* main */

  .wrapper > main {
    background-color: var(--background);
    color: var(--text);
  }

  /* aside */

  .wrapper > aside {
    background-color: var(--box);
    color: var(--text);
  }

  .wrapper > aside .row:first-of-type {
    border-bottom: 1px solid var(--border);
  }

  /* footer */

  .wrapper > footer {
    background-color: var(--text);
    color: var(--background);
  }
}

@media (width >=1280px) {
  /* header */

  .wrapper > header {
    background-color: var(--box);
    color: var(--text);
    border-bottom: 1px solid var(--border);
  }

  .wrapper > header .row .column .box-search form {
    background-color: var(--background);
    border: 1px solid var(--border);
  }

  .wrapper > header .row .column .box-search form input {
    padding: 0.5rem;
  }

  .wrapper > header .row .column .box-search form button {
    background-color: var(--text);
    color: var(--background);
    padding: 0.5rem;
  }

  /* nav */

  .wrapper > nav {
    background-color: var(--text);
    color: var(--background);
  }

  /* main */

  .wrapper > main .row {
    background-color: var(--background);
    color: var(--text);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
  }

  /* aside */

  .wrapper > aside {
    background-color: var(--box);
    color: var(--text);
    border-top: 1px solid var(--border);
  }

  /* footer */

  .wrapper > footer {
    background-color: var(--text);
    color: var(--background);
  }
}

/* main */

.wrapper > main .row .column h1,
.wrapper > main .row .column h2,
.wrapper > main .row .column h3,
.wrapper > main .row .column h4,
.wrapper > main .row .column h5,
.wrapper > main .row .column h6 {
  color: var(--headline);
}

.wrapper > main .row .column a {
  color: var(--primary);
}

.wrapper > main .row .column blockquote {
  border-bottom: 1px solid var(--border);
  border-left: 5px solid var(--primary);
  border-right: 1px solid var(--border);
  border-top: 1px solid var(--border);
}

.wrapper > main .row .column code {
  background-color: var(--box);
  color: var(--text);
  border: 1px solid var(--border);
}

.wrapper > main .row .column details {
  border: 1px solid var(--border);
}

.wrapper > main .row .column details > :nth-child(2) {
  border-top: 1px solid var(--border);
}

.wrapper > main .row .column details summary {
  background-color: var(--primary);
  color: var(--background);
}

.wrapper > main .row .column figure audio {
  border: 1px solid var(--border);
  background-color: var(--box);
}

.wrapper > main .row .column figure iframe {
  border: 1px solid var(--border);
  background-color: var(--box);
}

.wrapper > main .row .column figure img {
  border: 1px solid var(--border);
  background-color: var(--box);
}

.wrapper > main .row .column figure video {
  border: 1px solid var(--border);
  background-color: var(--box);
}

.wrapper > main .row .column form fieldset {
  border: 1px solid var(--border);
}

.wrapper > main .row .column form button {
  border: 1px solid var(--border);
  background-color: var(--primary);
  color: var(--background);
}

.wrapper > main .row .column form input[type="button"] {
  border: 1px solid var(--border);
  background-color: var(--primary);
  color: var(--background);
}

.wrapper > main .row .column form input[type="checkbox"] {
  border: 1px solid var(--border);
  background: var(--box);
}

.wrapper > main .row .column form input[type="checkbox"]:checked {
  background: var(--primary);
}

.wrapper > main .row .column form input[type="date"] {
  border: 1px solid var(--border);
}

.wrapper > main .row .column form input[type="email"] {
  border: 1px solid var(--border);
}

.wrapper > main .row .column form input[type="file"] {
  border: 1px solid var(--border);
}

.wrapper > main .row .column form input[type="number"] {
  border: 1px solid var(--border);
}

.wrapper > main .row .column form input[type="password"] {
  border: 1px solid var(--border);
}

.wrapper > main .row .column form input[type="radio"] {
  border: 1px solid var(--border);
  background: var(--box);
}

.wrapper > main .row .column form input[type="radio"]:checked {
  background: var(--primary);
}

.wrapper > main .row .column form input[type="range"] {
  background-color: var(--box);
  border: 1px solid var(--border);
}

.wrapper > main .row .column form input[type="range"]::-moz-range-thumb {
  background-color: var(--text);
  border: 1px solid var(--border);
}

.wrapper > main .row .column form input[type="range"]::-webkit-slider-thumb {
  background-color: var(--text);
  border: 1px solid var(--border);
}

.wrapper > main .row .column form input[type="reset"] {
  border: 1px solid var(--border);
  background-color: var(--primary);
  color: var(--background);
}

.wrapper > main .row .column form input[type="search"] {
  border: 1px solid var(--border);
}

.wrapper > main .row .column form input[type="submit"] {
  border: 1px solid var(--border);
  background-color: var(--primary);
  color: var(--background);
}

.wrapper > main .row .column form input[type="tel"] {
  border: 1px solid var(--border);
}

.wrapper > main .row .column form input[type="text"] {
  border: 1px solid var(--border);
}

.wrapper > main .row .column form input[type="url"] {
  border: 1px solid var(--border);
}

.wrapper > main .row .column form meter {
  border: 1px solid var(--border);
}

.wrapper > main .row .column form meter::-moz-meter-bar {
  background: var(--box);
}

.wrapper > main .row .column form meter::-webkit-meter-value {
  background: var(--box);
}

.wrapper > main .row .column form progress {
  border: 1px solid var(--border);
}

.wrapper > main .row .column form progress::-moz-progress-bar {
  background: var(--box);
}

.wrapper > main .row .column form progress::-webkit-progress-value {
  background: var(--box);
}

.wrapper > main .row .column form select {
  border: 1px solid var(--border);
}

.wrapper > main .row .column form textarea {
  border: 1px solid var(--border);
}

.wrapper > main .row .column hr {
  border-top: 1px dotted var(--border);
}

.wrapper > main .row .column table tbody tr {
  border-bottom: 1px solid var(--border);
}

.wrapper > main .row .column table tfoot tr th {
  border-top: 1px solid var(--border);
}

.wrapper > main .row .column table thead tr th {
  border-bottom: 1px solid var(--border);
}

.wrapper > main .row .column .box-posts .box-post-item {
  background-color: var(--box);
  color: var(--text);
  border: 1px solid var(--border);
}

.wrapper > main .row .column .box-posts .box-post-item h2 {
  margin-top: 0;
}

.wrapper > main .row .column .comment-form {
  background-color: var(--box);
  color: var(--text);
}

.wrapper > main .row .column .comment-form input {
  background-color: var(--background);
  color: var(--text);
}

.wrapper > main .row .column .comment-form textarea {
  background-color: var(--background);
  color: var(--text);
}
