<!doctype html>
<html lang="EN">
  <head>
    <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- Title Tag -->
    <title>nodejs.tmp | <%= txt_title %></title>

    <!-- FavIcons -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.svg" />
    <link rel="apple-touch-icon" href="/images/favicon.svg" />

    <!-- Styles -->
    <link rel="stylesheet" href="/css/print.css" media="print" />
    <link rel="stylesheet" href="/css/reset.css" media="screen" />
    <link rel="stylesheet" href="/css/skeleton.css" media="screen" />
    <link rel="stylesheet" href="/css/style.css" media="screen" />
    <link rel="stylesheet" href="/css/theme.css" media="screen" />

    <!-- BootrapIcons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
  </head>
  <body>
    <div class="wrapper"></div>
  </body>
</html>
